In [1]:
#Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\dell\appdata\local\programs\python\python311\lib\site-packages (2.1.1)
Requirement already satisfied: numpy>=1.23.2 in c:\users\dell\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.26.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dell\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2022.7.1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\dell\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\dell\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0 -> 23.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
my_series = pd.Series(data)

print(my_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [4]:
#Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [5]:
import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_series = pd.Series(my_list)

print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [19]:
import pandas as pd

data = {
    'name': ['Alice','Bob', 'Claire'],
    'age': [ 25,30,27],
    'gender': ['Female','Male','Male']
    }

df = pd.DataFrame(data)

print(df)
type(df)

     name  age  gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27    Male

pandas.core.frame.DataFrame

In [20]:
#Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [21]:
#A DataFrame is 2 dimensional form of data ,in the DataFrame has row and columns and in this we can store more the more the one type of data so here we can store many data types of data,
#But in Series it i a 1 dimensional and here we can store on one type of data.

In [28]:
import pandas as pd

seriese_data=pd.Series([2,3,4,5,6,7,8],name="Raman")

data={
    'class':pd.Series([1,2,3,4,5,6,7]),
    'strength':pd.Series([23,45,67,25,34,35,56]),
    'Teacher':pd.Series(['Rajiv','Mayank','shiva','Manoj','Shreya','Monika','Rajvat'])
}

print(seriese_data)
print("\n")

df=pd.DataFrame(data)

print(df)

0    2
1    3
2    4
3    5
4    6
5    7
6    8
Name: Raman, dtype: int64


   class  strength Teacher
0      1        23   Rajiv
1      2        45  Mayank
2      3        67   shiva
3      4        25   Manoj
4      5        34  Shreya
5      6        35  Monika
6      7        56  Rajvat

In [27]:
#Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
#you give an example of when you might use one of these functions?

In [34]:
#df.sort_values('column_name'): Sort the DataFrame by a column
import pandas as pd

data={
    'class':pd.Series([1,2,3,4,5,6,7]),
    'strength':pd.Series([23,45,67,25,34,35,56]),
    'Teacher':pd.Series(['Rajiv','Mayank','shiva','Manoj','Shreya','Monika','Rajvat'])
}


df=pd.DataFrame(data)

print(df)
df.sort_values('strength')

   class  strength Teacher
0      1        23   Rajiv
1      2        45  Mayank
2      3        67   shiva
3      4        25   Manoj
4      5        34  Shreya
5      6        35  Monika
6      7        56  Rajvat

   class  strength Teacher
0      1        23   Rajiv
3      4        25   Manoj
4      5        34  Shreya
5      6        35  Monika
1      2        45  Mayank
6      7        56  Rajvat
2      3        67   shiva

In [35]:
#Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
#DataFrame

In [36]:
#Q7. Create a DataFrame using multiple Series. Explain with an example.

In [37]:
import pandas as pd

# Create multiple Series
series1 = pd.Series([1, 2, 3, 4], name='Column1')
series2 = pd.Series(['A', 'B', 'C', 'D'], name='Column2')
series3 = pd.Series([0.1, 0.2, 0.3, 0.4], name='Column3')

# Create a DataFrame using the Series
df = pd.DataFrame({'Column1': series1, 'Column2': series2, 'Column3': series3})

# Print the DataFrame
print(df)

   Column1 Column2  Column3
0        1       A      0.1
1        2       B      0.2
2        3       C      0.3
3        4       D      0.4