In [1]:
#Q1. What is a database? Differentiate between SQL and NoSQL databases.
#A database is an organized collection of structured information, or data, typically stored electronically in a computer system.
#SQL databases are vertically scalable, while NoSQL databases are horizontally scalable. SQL databases are table-based, while NoSQL databases are document, key-value, graph, or wide-column stores. SQL databases are better for multi-row transactions, while NoSQL is better for unstructured data like documents or JSON.

In [ ]:
#Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
#A data definition language (DDL) is a computer language used to create and modify the structure of database objects in a database.
#CREATE is a DDL command in DBMS that is used to create tables or databases.
CREATE table test

(

Column1 VARCHAR (23),

column2 INT,

.

.

columnN FLOAT(34)

);

#The DROP TABLE command deletes a table in the database.
DROP TABLE table_name;

#The ALTER TABLE statement is used to add, delete, or modify columns in an existing table.
ALTER TABLE test
ADD column1 CHAR;

#The TRUNCATE TABLE command deletes the data inside a table, but not the table itself.
TRUNCATE TABLE Categories;

In [ ]:
#Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

#A data manipulation language (DML) is a family of computer languages including commands permitting users to manipulate data in a database.

#The SQL INSERT INTO Statement is used to add new rows of data to a table in the database.

INSERT INTO table2

#The UPDATE statement is used to modify the existing records in a table.

UPDATE table_name

#The DELETE statement is used to delete existing records in a table.

DELETE FROM table_name WHERE condition

In [ ]:
#Q4. What is DQL? Explain SELECT with an example.

# Data Query Languages, are computer languages that are used to make various queries in information systems and databases. 

SELECT Stu_Name FROM Student WHERE Phone = 9039462908;

The command given above would select the record from the table ‘Student’ where the phone number is ‘9039462908’

In [2]:
#Q5. Explain Primary Key and Foreign Key.

#A primary key generally focuses on the uniqueness of the table. It assures the value in the specific column is unique. A foreign key is generally used to build a relationship between the two tables. The table allows only one primary key.

In [ ]:
#Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE if not exists test2")
mydb.close()

#Cursor objects interact with the MySQL server using a MySQLConnection object.

#You can use this function to create tables, insert records, modify records, and delete records in your PostgreSQL database.

In [ ]:
#Q7. Give the order of execution of SQL clauses in an SQL query.

#The SQL order of execution defines the order in which the clauses of a query are evaluated. Understanding query order can help you optimize your queries.